:root {
	/* Variáveis CSS genéricas */
	--cube-size: 200px; /* Tamanho padrão */
	--cube-top: 50%; /* Posição padrão vertical */
	--cube-left: 45vw; /* Posição padrão horizontal */
	--cube-color: #41148f; /* Cor padrão */
	--cube-border-color: #222235; /* Cor da borda */
	--cube-rotation-speed: 15s; /* Velocidade da animação */
	--cube-angle: 0.5; /* Ângulo de rotação */
}

@keyframes turn {
	from {
		transform: rotate3d(0, 0, 0, 0);
	}

	to {
		transform: rotate3d(var(--cube-angle), 1, 0, 360deg);
	}
}

.cube {
	position: absolute;
	top: var(--cube-top);
	left: var(--cube-left);

	width: var(--cube-size);
	height: var(--cube-size);

	transform-style: preserve-3d;
	animation: turn var(--cube-rotation-speed) linear infinite;
}

.face {
	width: var(--cube-size);
	height: var(--cube-size);

	background: var(--cube-color);
	border: 2px solid var(--cube-border-color);

	position: absolute;
	transition: transform 500ms;
}

.front {
	transform: translateZ(calc(var(--cube-size) / 2));
}

.back {
	transform: translateZ(calc(var(--cube-size) / -2)) rotateY(180deg);
}

.left {
	transform: translateX(calc(var(--cube-size) / -2)) rotateY(-90deg);
}

.right {
	transform: translateX(calc(var(--cube-size) / 2)) rotateY(90deg);
}

.top {
	transform: translateY(calc(var(--cube-size) / -2)) rotateX(90deg);
}

.bottom {
	transform: translateY(calc(var(--cube-size) / 2)) rotateX(-90deg);
}

@media (prefers-reduced-motion: reduce) {
	.cube {
		animation: none;
		transform: rotate3d(1, 1, 0, 45deg);
	}
}


/* TAMANHOS DOS CUBOS */
.cube-mini {
	--cube-size: 50px;
	--cube-rotation-speed: 5s;
	--cube-angle: -0.2;
}

.cube-small {
	--cube-size: 100px;
	--cube-rotation-speed: 10s;
	--cube-angle: 1;
}

.cube-large {
	--cube-size: 300px;
	--cube-rotation-speed: 20s;
}

/* POSIÇÃO E COR DOS CUBOS */
.cube1 {
	--cube-top: 10%;
	--cube-left: 70vw;
	--cube-color: #39137c;
	/* --cube-color: #008800; */
}

.cube2 {
	--cube-top: 35%;
	--cube-left: 65vw;
	/* --cube-color: #00b100; */
}

.cube3 {
	--cube-top: 80%;
	--cube-left: 5vw;
	--cube-color: #39137c;
	/* --cube-color: #008800; */
}

.cube4 {
	--cube-top: 27%;
	--cube-left: 62vw;
	/* --cube-color: #00b100; */
}

.cube5 {
	--cube-top: 70%;
	--cube-left: 5vw;
	/* --cube-color: #00b100; */
}

.cube6 {
	--cube-top: 75%;
	--cube-left: 15vw;
	/* --cube-color: #00b100; */
}