body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Source Code Pro", monospace;
    /* font-family: "Alegreya Sans"; */
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: white;
    background: #212335;
    overflow-x: hidden;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .title .wrap {
        font-size: 4rem;
    }

    .proj-grid .card {
        max-width: 275px;
    }
}

@media screen and (max-width: 1080px) {
    .custom-navbar {
        display: none;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 767px) {
    .title .wrap {
        font-size: 3rem;
    }

    .proj-grid .card {
        max-width: 160px;
    }
}

section {
    min-height: 100vh;
}

.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: linear-gradient(180deg, #361077, #212335);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typewrite {
    text-transform: uppercase;
    max-width: 75%;
}

.typewrite>.wrap {
    /* border-right: 0.1em solid #ffa500; */
    border-right: 0.1em solid #16be00;
}

.continue {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: rgba(255, 255, 255);
    opacity: 0.4;
    font-size: 1.5rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.continue:hover {
    transform: scale(1.2);
    opacity: 0.7;
    bottom: 20px;
}

.continue.hide {
    opacity: 0;
}

.custom-navbar {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: -200px;
    transform: translate(0%, -50%);
    width: 150px;
    transition: left 0.5s ease;
}

.custom-navbar.visible {
    left: 24px;
}

.custom-navbar .nav-link {
    color: #16be00;

    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-navbar .nav-link::before {
    font-family: "Bootstrap-icons";
    content: '\F2F1';
}

.custom-navbar .nav-link:hover {
    color: #0f8500;
}

.custom-navbar .nav-link.active {
    color: white;
    background-color: #16be00;
}

.custom-navbar .nav-link.active::before {
    font-family: "Bootstrap-icons";
    content: '\F2EF';
}

.projects,
.about,
.contact {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proj-carousel {
    width: 100%;
    align-self: center;
}

.proj-carousel .carousel-inner {
    width: 100%;
    max-height: 400px !important;
    border-radius: 11px;
}

.proj-carousel .carousel-caption {
    top: 1.25rem;
}

.about {
    position: relative;
}

.about-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}