body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: white;
    background: #212335;
    overflow-x: hidden;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .title .wrap {
        font-size: 4rem;
    }

    .proj-grid .card {
        max-width: 275px;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 767px) {
    .title .wrap {
        font-size: 3rem;
    }

    .custom-navbar {
        display: none;
    }

    .proj-grid .card {
        max-width: 160px;
    }
}

section {
    min-height: 100vh;
}

.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: linear-gradient(180deg, #361077, #212335);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typewrite {
    text-transform: uppercase;
    max-width: 75%;
}

.typewrite>.wrap {
    /* border-right: 0.1em solid #ffa500; */
    border-right: 0.1em solid #16be00;
}

.continue {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: rgba(255, 255, 255);
    opacity: 0.4;
    font-size: 1.5rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.continue:hover {
    transform: scale(1.2);
    opacity: 0.7;
    bottom: 20px;
}

.continue.hide {
    opacity: 0;
}

.custom-navbar {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: -200px;
    transform: translate(0%, -50%);
    width: 150px;
    transition: left 0.5s ease;
}

.custom-navbar.visible {
    left: 24px;
}

.custom-navbar .nav-link {
    color: #16be00;

    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-navbar .nav-link::before {
    font-family: "Bootstrap-icons";
    content: '\F2F1';
}

.custom-navbar .nav-link:hover {
    color: #0f8500;
}

.custom-navbar .nav-link.active {
    color: white;
    background-color: #16be00;
}

.custom-navbar .nav-link.active::before {
    font-family: "Bootstrap-icons";
    content: '\F2EF';
}

.projects,
.about,
.contact,
.abilities {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proj-carousel {
    max-width: 90%;
    align-self: center;
}

.proj-carousel .carousel-inner {
    width: 100%;
    max-height: 300px !important;
    border-radius: 11px;
}

.proj-carousel .carousel-caption {
    top: 1.25rem;
}

.proj-grid {
    padding: 24px 5%;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.proj-grid .card h5 {
    text-align: center;
    margin: 0;
}

.about {
    position: relative;
}

.about-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-historic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 5rem;
    margin-top: 1rem;
}

.list-historic li {
    max-width: 12rem;
    display: grid;
    grid-template:
        "icon"
        "line"
        "dot"
        "title"
        "date"
        "what"
        "descr" 1fr;
    justify-items: center;
    text-align: center;
}

.list-historic li .icon {
    grid-area: icon;
    width: 6rem;
    aspect-ratio: 1;
    padding: 10px;
    display: grid;
    place-items: center;
    color: black;
    font-size: 2.5rem;
    border: 0.4rem solid #212335;
    border-radius: 50%;
    background: white;
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
        inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

.list-historic li::before {
    grid-area: line;
    content: "";
    height: 1.5rem;
    border-right: 5px dotted currentColor;
}

.list-historic li::after {
    grid-area: dot;
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    margin-bottom: 0.5rem;
}

.list-historic li .about-title {
    grid-area: title;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.list-historic li .date {
    grid-area: date;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.list-historic li .what {
    grid-area: what;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.abilities .row  {
    margin: 0 5%;
}

.abilities span.line {
    position: relative;
}

.abilities span.line::before {
    position: absolute;
    content: "";
    height: 30rem;
    border-right: 5px dotted currentColor;
    top: 100%;
}

.abilities .ability {
    display: flex;
    justify-items: left;
    align-items: center;
    margin: 10px 5%;
}

.ability .icon {
    width: 6rem;
    aspect-ratio: 1;
    padding: 10px;
    display: grid;
    place-items: center;
    
    border: 0.4rem solid #212335;
    border-radius: 50%;
    background: white;
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
        inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

.ability .progress  {
    margin: 0 40px;
    flex-grow: 1;
}