body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Source Code Pro", monospace;
    /* font-family: "Alegreya Sans"; */
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: white;
    background: #212335;
    overflow-x: hidden;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .title .wrap {
        font-size: 4rem;
    }

    .proj-grid .card {
        max-width: 275px;
    }
}

@media screen and (max-width: 1080px) {
    .custom-navbar {
        display: none;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 768px) {
    .title .wrap {
        font-size: 3rem;
    }

    .proj-grid .card {
        max-width: 160px;
    }

    .projects {
        margin-bottom: 6rem !important;
    }
}

section {
    min-height: 100vh;
}

.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: linear-gradient(180deg, #361077, #212335);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typewrite {
    text-transform: uppercase;
    max-width: 75%;
}

.typewrite>.wrap {
    /* border-right: 0.1em solid #ffa500; */
    border-right: 0.1em solid #16be00;
}

.continue {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: rgba(255, 255, 255);
    opacity: 0.4;
    font-size: 1.5rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.continue:hover {
    transform: scale(1.2);
    opacity: 0.7;
    bottom: 20px;
}

.continue.hide {
    opacity: 0;
}

.custom-navbar {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: -200px;
    transform: translate(0%, -50%);
    width: 150px;
    transition: left 0.5s ease;
}

.custom-navbar.visible {
    left: 24px;
}

.custom-navbar .nav-link {
    color: #16be00;

    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-navbar .nav-link::before {
    font-family: "Bootstrap-icons";
    content: '\F2F1';
}

.custom-navbar .nav-link:hover {
    color: #0f8500;
}

.custom-navbar .nav-link.active {
    color: white;
    background-color: #16be00;
}

.custom-navbar .nav-link.active::before {
    font-family: "Bootstrap-icons";
    content: '\F2EF';
}

.projects,
.about,
.contact {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects {
    margin-bottom: 0;
}

.proj-carousel {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.proj-carousel .carousel-inner {
    width: 84%;
    max-height: 400px !important;
    box-shadow: 0px 0px 5px 3px #000000;
}

.proj-carousel .carousel-button {
    width: 8%;
    height: 40%;
    top: 30%;
    background: #212335;
}

.proj-carousel .carousel-control-prev {
    background: linear-gradient(270deg, rgba(33, 35, 53, 0) 0%, rgb(0 0 0 / 70%) 100%);
}
.proj-carousel .carousel-control-prev:hover {
    background: linear-gradient(270deg, rgba(33, 35, 53, 0) 0%, rgba(245, 245, 245, 0.3) 100%);
}

.proj-carousel .carousel-control-next {
    background: linear-gradient(90deg, rgba(33, 35, 53, 0) 0%, rgb(0 0 0 / 70%) 100%);
}
.proj-carousel .carousel-control-next:hover {
    background: linear-gradient(90deg, rgba(33, 35, 53, 0) 0%, rgba(245, 245, 245, 0.3) 100%);
}

.proj-carousel .proj-item {
    position: relative;
}

.proj-carousel .proj-item h3 {
    font-size: 1.2rem;
}

.proj-carousel .proj-item p {
    font-size: 0.7rem;
}

.proj-carousel .proj-item .cover {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(240, 240, 240, .3);
}

.proj-carousel .proj-item .row {
    margin: 0;
}

.proj-carousel .proj-item .row>* {
    padding: 0;
}

.proj-carousel .proj-item .proj-image {
    height: 400px;
    overflow: hidden;
}

.proj-carousel .proj-item .proj-image img {
    min-height: 100%;
    width: 100%;
}

.proj-carousel .proj-item .proj-images {
    grid-template-columns: 1fr 1fr;
}

.proj-carousel .proj-item .proj-images img {
    width: 150px;
    height: 85px;
}

.proj-carousel .proj-item .glow-btns {
    width: 120px;
    height: 40px;
}
.proj-carousel .proj-item .glow-btn {
    width: 120px;
    font-size: 1.2rem;
}

.about {
    background-color: #40bf73;
    position: relative;
    margin: 0;
    max-width: none;
    color: black;
}

.diagonal {
    width: 100%;
    height: 80px;
    position: relative;
}

.diagonal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #40bf73;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    z-index: -1;
}

.about-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.proj-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}